.banner-container{
    background-color:#D4D4D4;
}
.banner-colume{

    background-color:#8A8A8A;
}
.nabar-container{
    top: 0;
    background-color:#454545 ;
    position: sticky; 
    z-index: 2;
}
.about-container{
    background-color:#3347D1 ;
}
.education-container{
    background-color:#EEEEEE;
}
.bg-retype{
  background-color:#FB857F ;
}
.bg-retype:hover{
    color: #000 !important;;
  }
.retype{
       color:#FB857F ;
}
.cirle{
    background-color:#FB857F ;
    width:150px ;
    height:150px ;
    border-radius: 50%;
    text-align: center;
}
.project-container{
    background-color:#2DB1E1 ;
}
.form-container{
    background-color:#474C5E ;
}
.box{
 font-size: 72px;
}
.inner-form{
   background-color:#585F73 ;

}

.footer{
    background-color: #129fd3;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color:#36aeda ;
}
.circle:hover{
    background-color: black;
}
